<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body style="background-color:aqua;">
<h1 style="background-color:white;text-align:center;"><b>REGISTER HERE</b></h1>
<form action="register" method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your username"><br>
    <input type="text" name="first_name" placeholder="enter your first name"><br>
    <input type="text" name="last_name" placeholder="enter your last name"><br>
    <input type="text" name="email" placeholder="enter your email id"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="password1" placeholder="re-password"><br>
    <input type="submit">
</form>
{% for msg in messages%}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>